body{
    background-color: #f4f4f4;
    color: #484848;
    font-weight: 500;
    font-family: 나눔고딕,NanumGothic;
}
select{
    color: #303030;
    font-weight: 500;
    font-family: 나눔고딕,NanumGothic;
    font-size:medium;
}
#coinSelectDiv{
    margin-top: 30px;
    margin-right: 10px;
    text-align: right;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-top: 10px;
}
th, td {
    text-align: left;
    padding: 16px;
}

#chart{
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: #fff;
    padding-top: 30px;
}

.container-left {
    width: 65%;
    float: left;
    padding: 0 10px;
}

.container-right {
    width: 35%;
    height: 636px;
    float: right;
    margin-top: 50px;
    padding: 10px;
    background-color: #fff;
}

.container {
    overflow: hidden;
}