<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
	<div class="container-left">
		<h4 id="coinSelectDiv" class="container-left">
			코인 선택 : <select id="coinSelect">
				<option th:each="coin : ${coinList}" th:value="${coin.coincode}"
					th:text="${coin.coinname}"></option>
			</select>
		</h4>
		<table id="priceTable" th:fragment="priceTable">
			<tr>
				<th>가격</th>
				<th>거래량</th>
				<th>시간</th>
			</tr>
			<tr th:each="price : ${priceList}">
				<td class="priceData" th:text="${#numbers.formatInteger(price.price, 0, 'COMMA')}"></td>
				<td class="priceVolume" th:text="${#numbers.formatDecimal(price.volume,1,3)}" />
				<td class="priceDate" th:text="${#temporals.format(price.date, 'MM.dd HH:mm')}" />
			</tr>
		</table>
		<div id="chart"></div>
	</div>
	<div class="container-right">
		<div class="Orders" th:if="${not #lists.isEmpty(priceList)}">
			<ul class="Orders_tablist" role="tablist">
				<!-- 매수 탭 -->
				<li class="Orders_tabitem" role="tab" aria-selected="true">
					<button class="Orders_tabbtn" data-tab="buy">BTC 매수</button>
				</li>
				<!-- 매도 탭 -->
				<li class="Orders_tabitem" role="tab" aria-selected="false">
					<button class="Orders_tabbtn" data-tab="sell">BTC 매도</button>
				</li>
			</ul>
			<div class="BuySellTab">
				<div class="BuySellTab_row">
					<h4 class="BuySellTab_row_title BuySellTab_title-top">주문가능</h4>
					<div class="BuySellTab_tabbox buyTabContent">
						<!-- 매수 탭 내용 -->
						<span class="BuySellTab_available-price" th:text="${#numbers.formatInteger(myPage.money, 0, 'COMMA')} + ' 원'"></span>
					</div>
					<div class="BuySellTab_tabbox sellTabContent" style="display: none;">
						<!-- 매도 탭 내용 -->
						<span class="BuySellTab_available-price" th:text="${myPage.userBtc} + ' BTC'"></span>
					</div>
				</div>
				<div class="OrderForm">
					<div class="OrderForm_row">
						<h4 class="OrderForm_title">주문가격</h4>
						<div class="OrderForm_box">
							<div class="InputNumeric_buy_sell">
								<div class="InputBox_buy_sell InputBox_active InputBox_label">
									<div class="InputBox_wrap">
										<div class="InputBox_box">
											<input type="text" inputmode="numeric" 
											class="InputBox_box_input" title="주문가격"
       										id="orderQuantity" th:value="${#numbers.formatInteger(priceList[0].price, 0, 'COMMA')}" readonly>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="OrderForm_row OrderForm_row_sub">
						<dl class="OrderForm_max-order buyTabContent">
							<dt>최대 주문 가능 수량</dt>
							<dd class="maxQuantityBuy" th:text="${maxQuantityRoundedDown}"></dd>
						</dl>
						<dl class="OrderForm_max-order sellTabContent" style="display: none;">
							<dt>최대 매도 가능 금액</dt>
							<dd class="maxQuantityBuy" th:text="${#numbers.formatDecimal(myPage.userBtc*priceList[0].price, 1, 1)}"></dd>
						</dl>
					</div>
					<div class="OrderForm_row">
						<h4 class="OrderForm_title">주문수량</h4>
						<div class="OrderForm_box">
							<div class="InputBox_buy_sell">
								<div class="InputBox_wrap">
									<div class="InputBox_box">
										<input type="text" inputmode="numeric"
										class="InputBox_box_input orderQuantityInput" autocapitalize="off"
										placeholder="최소 ≈ 0.0001" id="orderQuantitySecondary">
										<span class="InputBox_sub-txt">BTC</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="OrderForm_qty-per">
						<button class="OrderForm_qty-per_btn" data-percentage="25">25%</button>
						<button class="OrderForm_qty-per_btn" data-percentage="50">50%</button>
						<button class="OrderForm_qty-per_btn" data-percentage="75">75%</button>
						<button class="OrderForm_qty-per_btn" data-percentage="100">100%</button>
					</div>
					<div class="OrderForm_line"></div>
					<div class="OrderForm_row">
						<h4 class="OrderForm_title">주문금액</h4>
						<div class="OrderForm_box">
							<div class="InputBox_buy_sell">
								<div class="InputBox_wrap">
									<div class="InputBox_box">
										<input type="text" inputmode="numeric"
										class="InputBox_box_input" autocapitalize="off"
										placeholder="최소 금액 500원" id="orderAmount" readonly>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 매수 버튼 -->
				<div class="ButtonRow ButtonRowBuyContent">
					<button class="Button_JtY Button_large Button_row_buy">
					<span class="Button_text">BTC 매수</span></button>
				</div>
				<!-- 매도 버튼 -->
				<div class="ButtonRow ButtonRowSellContent" style="display: none;">
				<button class="Button_JtY Button_large Button_row_sell">
					<span class="Button_text">BTC 매도</span></button>
				</div>
			</div>
		</div>
	</div>
  </div>
</html>