<!-- footer part start-->
<footer th:fragment="footerFragment" class="footer footer-area">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-md-5">
        <div class="single-footer-widget">
          <h4>코인 관련 사이트</h4>
          <ul>
            <li><a href="https://kr.tradingview.com/" target='_blank'>TradingView</a></li>
            <li><a href="https://coinmarketcap.com/ko/" target='_blank'>CoinMarketCap</a></li>
            <li><a href="https://bithumb.com" target='_blank'>Bithumb</a></li>
            <li><a href="https://binance.com" target='_blank'>Binance</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="single-footer-widget">
          <h4>KH CoinCominity</h4>
          <p>(디지털컨버런스)공공데이터 통합 자바개발자</p>
          <p>양성과정 A23(2)</p>
          <p>LClass SemiProject 유수현</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="single-footer-widget footer_icon">
          <h4>KH 강남지원 3관</h4>
          <p>서울특별시 강남구 테헤란로 130 7F</p>
          <p>T: 1544-9970</p>
          <div class="social-icons">
            <a href="#"><i class="ti-facebook"></i></a>
            <a href="#"><i class="ti-twitter-alt"></i></a>
            <a href="#"><i class="ti-instagram"></i></a>
          </div>
        </pdiv>
      </div>
    </div>
  </div>
  <div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="copyright_part_text text-center">
          <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer part end-->