<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<div id="contents">
		<h2 class="title">자산현황</h2>
		<h3 class="title username" th:text="${myPage.username} + '님의 자산현황입니다.'"></h3>
		<div class="tb-sum-box">
			<table class="tb_sum">
				<colgroup>
					<col width="150">
					<col width="150">
				</colgroup>
				<tbody>
					<tr>
						<th>- 총 보유자산</th>
						<td class="tx_r">
							<span class="tx_total_rate tx_sum_value total-money" th:text="${#numbers.formatInteger(myPage.money 
							+ (myPage.userBtc*priceList[0].price) + (myPage.userEth*priceList[0].price), 0, 'COMMA')} +' 원'"></span></td>
					</tr>
					<tr>
						<th>- 총 수익률</th>
						<td class="tx_r"><span class="tx_total_rate tx_sum_value total-rate" th:text="${(sumBtcTradePrice + sumEthTradePrice) == 0 ? '0' 
									: #numbers.formatDecimal((((myPage.userBtc*priceList[0].price) - sumBtcTradePrice) 
									+ ((myPage.userEth*priceList[0].price) - sumEthTradePrice)) 
									/ (sumBtcTradePrice + sumEthTradePrice) * 100, 1, 2) + '%'}"></span></td>
					</tr>
					<tr>
						<th>- 총 평가손익 (KRW)</th>
						<td class="tx_r"><span class="tx_total_value tx_sum_value total-profit"
								 th:text="${#numbers.formatInteger(((myPage.userBtc*priceList[0].price)-sumBtcTradePrice)
														+((myPage.userEth*priceList[0].price)-sumEthTradePrice), 0, 'COMMA')}"> <span>원</span></span></td>
					</tr>
				</tbody>
			</table>
			<table class="tb_sum">
				<colgroup>
					<col width="150">
					<col width="150">
				</colgroup>
				<tbody>
					<tr>
						<th>- 총 보유자산(BTC 환산)</th>
						<td class="tx_r">
							<span class="tx_total_rate tx_sum_value total-moneybtc" th:text="'≈ ' + ${#numbers.formatDecimal((myPage.money/priceList[0].price) 
							+ myPage.userBtc + myPage.userEth, 1, 9)} + ' BTC'	"></span></td>
					</tr>
					<tr>
						<th>- 총 매수금액 (KRW)</th>
						<td class="tx_r"><span
								class="tx_total_buy_pic tx_sum_value" th:text="${#numbers.formatInteger(sumTradePrice, 0, 'COMMA')}"></span> 원</td>
					</tr>
					<tr>
						<th>- 주문가능원화</th>
						<td class="tx_r"><span class="tx_total_pic tx_sum_value" th:text="${#numbers.formatInteger(myPage.money, 0, 'COMMA')}"></span> 원
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="coinSearchBox">
			<div class="search_wrap">
				<a th:href="@{/mypage/tradelist}" class="ab_r btn btn_org_line_o">거래내역</a>
			</div>
			<table class="table_st1" data-verification="ASSETS_ASSETS_TABLE">
				<colgroup>
					<col width="140">
					<col width="*">
					<col width="140">
					<col width="140">
					<col width="140">
					<col width="115">
					<col width="90">
				</colgroup>
				<thead>
					<tr>
						<th>자산구분</th>
						<th class="tx_r">보유잔고</th>
						<th class="tx_r">평균매수가</th>
						<th class="tx_r">매수금액</th>
						<th class="tx_r">평가금액(KRW)</th>
						<th class="tx_r">평가손익(KRW)</th>
						<th class="tx_r">수익률(%)</th>
					</tr>
				</thead>
				<tbody id="assetListTable" class="coin_list">
					<tr data-asset="478" data-coin="BTC" data-key="C0101" data-live="Y" class="fvtWrap">
						<td>비트코인<br><span class="code">BTC</span><span class="blind">BITCOIN비트코인ㅂㅌㅋㅇ</span></td>
						<td class="tx_r"> <span class="tx_available" th:text="${#numbers.formatDecimal(myPage.userBtc, 1, 5)}"></span></td>
						<td class="tx_r">
							<div class="update_avg_pic">
								<div class="update-avgpic"><span class="tx_avg_buy_amt" th:text="${#numbers.formatInteger(avgBtcTradePrice, 0, 'COMMA')}"></span></div>
							</div>
						</td>
						<td class="tx_r"><span class="tx_buy_pic" th:text="${#numbers.formatInteger(sumBtcTradePrice, 0, 'COMMA')}"></span></td>
						<td class="tx_r"> <span class="tx_krw_pic" th:text="${#numbers.formatInteger(myPage.userBtc*priceList[0].price, 0, 'COMMA')}"></span></td>
						<td class="tx_r"><span class="tx_value" th:text="${#numbers.formatInteger((myPage.userBtc*priceList[0].price)-sumBtcTradePrice, 0, 'COMMA')}"></span></td>
						<td class="tx_r"><span class="tx_rate" th:text="${myPage.userBtc == 0 ? '0' : #numbers.formatDecimal((myPage.userBtc*priceList[0].price - sumBtcTradePrice) / sumBtcTradePrice * 100, 1, 2) + '%'}"></span></td>
					</tr>
					<tr data-asset="0" data-coin="ETH" data-key="C0102" data-live="Y" class="fvtWrap">
						<td>이더리움<br><span class="code">ETH</span><span class="blind">이더리움ETHㅇㄷㄹㅇ</span></td>
						<td class="tx_r"><span class="tx_available" th:text="${#numbers.formatDecimal(myPage.userEth, 1, 5)}"></span></td>
						<td class="tx_r">
							<div class="update_avg_pic">
								<div><span class="tx_avg_buy_amt" th:text="${#numbers.formatInteger(avgEthTradePrice, 0, 'COMMA')}"></span></div>
							</div>
						</td>
						<td class="tx_r"><span class="tx_buy_pic" th:text="${#numbers.formatInteger(sumEthTradePrice, 0, 'COMMA')}"></span></td>
						<td class="tx_r"><span class="tx_krw_pic" th:text="${#numbers.formatInteger(myPage.userEth*priceList[0].price, 0, 'COMMA')}"></span></td>
						<td class="tx_r"><span class="tx_value" th:text="${#numbers.formatInteger((myPage.userEth*priceList[0].price)-sumEthTradePrice, 0, 'COMMA')}"></span></td>
						<td class="tx_r"><span class="tx_rate" th:text="${myPage.userEth == 0 ? '0' : #numbers.formatDecimal((myPage.userEth*priceList[0].price - sumEthTradePrice) / sumEthTradePrice * 100, 1, 2) + '%'}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</html>